# Python
.venv/
__pycache__/
*.pyc
*.egg-info/


docs/build/

# Jupyter checkpoints
**/.ipynb_checkpoints/

# Local example outputs
examples/figures/

# Keep only minimal example dataset
examples/data/*
!examples/data/example/
!examples/data/example/**
ROADMAP.md

# Private paper workspace
paper/

# LaTeX paper outputs
paper/**/*.aux
paper/**/*.log
paper/**/*.out
paper/**/*.synctex.gz
paper/**/*.fdb_latexmk
paper/**/*.fls
paper/**/*.cpt
paper/**/*.pdf
paper/**/*.blg
paper/**/*.bbl
